version: "3.9"

services:
  app:
    image: nguyenthephong/bookingkol_be:1.3.1
    container_name: bookingkol_be_1.3.1
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    environment:
      - DEV_DATABASE_URL:${DEV_DATABASE_URL}
      - DEV_DATABASE_USERNAME:${DEV_DATABASE_USERNAME}
      - DEV_DATABASE_PASSWORD:${DEV_DATABASE_PASSWORD}
      - JWT_SECRET_KEY:${JWT_SECRET_KEY}
      - JWT_EXPIRATION_MS:${JWT_EXPIRATION_MS}
      - MAIL_USERNAME:${MAIL_USERNAME}
      - MAIL_PASSWORD:${MAIL_PASSWORD}
      - MAIL_HOST:${MAIL_HOST}
      - MAIL_PORT:${MAIL_PORT}
      - GEMINI_API_KEY:${GEMINI_API_KEY}
      - SUPABASE_ANON_URL:${SUPABASE_ANON_URL}
      - SUPABASE_ANON_KEY:${SUPABASE_ANON_KEY}
      - SUPABASE_SERVICE_ROLE_KEY:${SUPABASE_SERVICE_ROLE_KEY}
      - STORAGE_BUCKET:${STORAGE_BUCKET}