spring:
  application:
    name: bookingKol
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: dev
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
  datasource:
    driver-class-name: org.postgresql.Driver

app:
  jwtSecretKey: ${JWT_SECRET_KEY}
  jwtExpirationMs: ${JWT_EXPIRATION_MS}
